.select-heading {
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  display: block;
  position: relative;
}

/* /////////////////////////////// */

.pricing-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.pricing-card {
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  display: block;
  visibility: visible;
  opacity: 1;
  z-index: 111111111111111111111111 !important;
  cursor: pointer;
}
.pricing-card.card {
  padding: 30px;
}
.pricing-card:hover {
  transform: translateY(-6px);
}

.pricing-card h3 {
  margin-top: 0;
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #fff;
}

.visit-button {
  width: 100%;
  border-radius: 20px;
  color: #fff;
  background-color: #008000;
}
.price {
  font-size: 1.8rem;
  color: #008000;
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.pricing-card ul li {
  margin: 8px 0;
  font-size: 0.95rem;
  color: #ccc;
}

button {
  background: #008000;
  color: #111;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  opacity: 1;
}

.highlighted {
  border: 2px solid #008000;
  background: #282828;
}

.city-button {
  color: #fff;
  width: 150px;
}
